@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

h1 {
    margin: 5% 0 3% 0;
}

.nav-item a {
    color:white !important;
    transition: 0.3s;
}

.nav-item:hover a{
    color: #04d361 !important;
    transition: 0.3s;
}

.background {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(imgs/prog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 500px;
}

.background .titulo {
    font-family: 'Courier Prime', monospace;
    color: #fff;
    margin: 10% 0 5% 10%;
    max-width: 370px;
}

.titulo:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.btn {
    background-color: #8257e6;
    color: white;
    padding: 10px;
    font-size: 15pt;
    margin-bottom: 30px;
    transition: 0.5s;
    margin: 1% 0 0 10%;
}

.btn:hover {
    background-color: #9466ff;
    transition: 0.5s;
}

.detalhes {
    text-align:center;
}

#eu {
    width: 60%;
    height: 40%; 
    border-radius: 50%;
    
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
}

.text {
    width: 80%;
    font-size: 15pt;
    float: right;
    text-align: left;
     
    display: flex;
    
    margin: 3% 10% 0 0;
}

.card {
    color: #fff;
    padding: 30px 50px;
    border-radius: 15px;
    text-align: center;
    margin: 10% 0 0 1%;
        
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(imgs/prog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}


.midia {
    display: flex;
    background-color: #272935;
    font-size: 15pt;
    font-weight: 600;
    border: none;
    color: #F9F9F9;
    width: 50%;
    padding: 2%;
    margin: 50px 10px;
    cursor:pointer;
}

footer {
    text-align: center;
    background-color: #272935;
    color: white;
}

#midiasSociaisFooter {
    font-size: 20pt;
    padding-bottom: 10px;
}

#midiasSociaisFooter i {
    margin: 0 1% 1% 1%;
}

@media screen and (min-width: 750px) {
    .text {
        width: 50%;
    }

    #eu {
        width: 30%;
        height: 30%; 
    }

    .card {
        width: 64%;
        float: left;
                
        margin: 1% 0 0 0%;
        border-radius: 0px;
        
    }

    .card-r {
        width: 35%;        
        float: right;
        margin: 1% 0 0 0;
        
    }

    .card-l {
        width: 35%;        
        float: left;
        margin: 1% 1% 0 0;
        
    }

    .midia {
        display: inline;
        width: 30%;
    }
}	